html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    .edit-icon {
        padding: 0 8px;
        cursor: pointer;
        color: #1776bf;
    }
    .error {
        margin-bottom: 16px;
    }
    .temp-mode {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .weather-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        .w-card {
            padding: 0 24px;
            .date,
            .temp {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .temp {
                padding: 4px 0;
                .avg-tmp {
                    font-size: 20px;
                }
                .hmd-n-prs {
                    margin: 8px 0;
                    display: flex;
                    justify-content: space-between;
                    .hmd,
                    .prs {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .hmd {
                        margin: 0 16px 0 0;
                    }
                    .prs {
                        margin: 0 0 0 16px;
                    }
                }
            }
            .card-panel {
                &.selected {
                    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
                    transition: 0.3s;
                    border: 1px solid #444;
                }
                i.pe-va {
                    font-size: 88px;
                    padding: 4px;
                }
                .date {
                    font-size: 18px;
                    background: #fbfbfb;
                    margin: 10px;
                    color: #333;
                    border-radius: 10px;
                }
            }
        }
    }
    .arrow-buttons {
        display: flex;
        justify-content: space-around;
        .left-arrow,
        .right-arrow {
            font-size: 72px;
            cursor: pointer;
            color: #1776bf;
        }
        .active {
            opacity: 1;
        }
        .hidden {
            opacity: 0;
        }
    }
    .weather-chart {
        position: relative;
        height: 40vh;
        width: 60vh;
        margin: auto;
    }
}